<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
            <!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            -->
            <link rel="shortcut icon" href="{{ asset('images/pos.jpg')}}">
            <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">

            <link rel="stylesheet" type="text/css" href="{{ asset('css/DT_bootstrap.css')}}">

            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
            <style type="text/css">

                .sidebar-nav {
                    padding: 9px 0;
                }
            </style>
            <link href="{{ asset('css/bootstrap-responsive.css')}}" rel="stylesheet">
            <link href="{{asset('style.css')}}" media="screen" rel="stylesheet" type="text/css" />
            
            <link href="{{ asset('src/facebox.css')}}" media="screen" rel="stylesheet" type="text/css" />
            
        {% endblock %}
        
         {% block javascripts %}
             <script src="{{asset('js/application.js')}}" type="text/javascript" charset="utf-8"></script>
             <script src="{{asset('lib/jquery.js')}}" type="text/javascript"></script>
             <script src="{{asset('src/facebox.js')}}" type="text/javascript"></script>
             <script type="text/javascript">
                jQuery(document).ready(function($) {
                    $('a[rel*=facebox]').facebox({
                      loadingImage : '{{asset('src/loading.gif')}}',
                      closeImage   : '{{asset('src/closelabel.png')}}'
                    })
                })
             </script>
         {% endblock %}
    </head>
    <body>

    {% block body %}{% endblock %}

</body>
</html>
