<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{ asset('images/pos.jpg')}}">
            <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/DT_bootstrap.css')}}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
            <style type="text/css">
                .sidebar-nav {
                    padding: 9px 0;
                }
            </style>
            <link href="{{ asset('css/bootstrap-responsive.css')}}" rel="stylesheet">
            <link href="{{asset('style.css')}}" media="screen" rel="stylesheet" type="text/css" />
        {% endblock %}



        {% block javascript %}
            <script src="{{asset('lib/jquery.js')}}" type="text/javascript"></script>     
            <script src="{{asset('lib/js/bootstrap.js')}}" type="text/javascript"></script>     
            <script src="{{asset('lib/js/bootstrap.min.js')}}" type="text/javascript"></script>   

            <script type="text/javascript">
                $(document).ready(function () {
                    $('.compra').on('click','[data-toggle="modal"]', function (event) {
                        event.preventDefault(); //cancela el comportamiento por defecto
                         $($(this).data("target")+' .modal-body').load($(this).attr('href'));
                        // $('#infocompra').load($(this).attr('href')); //carga por ajax a la capa "notice_viewer"
                        //$('.btn-primary').on('click', function (){
                        //var dataId = $(this).attr("data-id");
                        //alert(dataId);
                    });
                });
                                             
            </script> 
            
            

        {% endblock  %}  


    </head>
    <body>

        {% block body %}


        {% endblock %}

    </body>
</html>
