<header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>OS</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>POS-</b>LTE</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                        <span class="hidden-xs">{{app.session.get('nombre')}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <p>
                                {{app.session.get('nombre')}}
                                <small>Member since Nov. 2012</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <!-- Menu Footer-->
                        <li class="user-footer">

                            <div class="pull-right">
                                <a href="{{path('logout')}}" class="btn btn-default btn-flat">Salir</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>

    </nav>
</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">Menu Principal</li>
            <li class="active treeview">
                <a href="{{path('tablero')}}">
                    <i class="fa fa-dashboard"></i> <span>Tablero</span>
                 </a>
            </li>
            <li>
                <a href="ventas">
                    <i class="fa fa-credit-card"></i> <span>Ventas</span>
                </a>
            </li>
            <li >
                <a href="{{path('productoslista')}}">
                    <i class="fa fa-fw fa-table"></i>
                    <span>Productos</span>
                </a>
            </li>
            <li >
                <a href="#">
                    <i class="fa fa-arrows"></i>
                    <span>Movimientos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-cubes"></i> <span>Inventario de Ventas</span>
                </a>
            </li>
            <li>
                <a href="{{path('compras')}}">
                    <i class="fa fa-shopping-cart"></i> <span>Compras    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="{{path('mantenimientos')}}">
                    <i class="fa fa-fw fa-wrench"></i> <span>Mantenimientos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li ><a href="{{path('agencias')}}"><i class="fa fa-building"></i> Agencias</a></li>
                    <li><a href="{{path('rubros')}}"><i class="fa fa-list-ol"></i>Rubros</a></li>
                    <li><a href="{{path('categorias')}}"><i class="fa fa-list-ul"></i> Categorias</a></li>
                    <li><a href="{{path('empleados')}}"><i class="fa fa-users"></i>Empleados</a></li>
                    <li><a href="{{path('proveedores')}}"><i class="fa fa-truck"></i> Proveedores</a></li>
                    <li><a href="{{path('productos')}}"><i class="fa fa-tasks"></i> Productos</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-fw fa-bar-chart-o"></i> <span>Reportes</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/tables/simple.html"><i class="fa fa-line-chart"></i> Reporte de Ventas</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-area-chart"></i> Ventas por Vendedor</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-pie-chart"></i> Ventas por Producto</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-area-chart"></i> Ventas por Categoria</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-area-chart"></i> Ventas por Vendedor</a></li>
                    <li><a href="pages/tables/data.html"><i class="fa fa-area-chart"></i> Ventas por Vendedor</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->

<!-- /.content-wrapper -->




<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<div class="control-sidebar-bg"></div>


