{%extends '::frontend.html.twig'%}

{% block javascripts %}
    <script type="text/javascript">
        $('.edit_custom').find('input').unwrap();
        $('.edit_custom').find('check').unwrap();

        function docena() {

            var txtFirstNumberValue = document.getElementById('mantenimientosbundle_productos_existencia').value;
            //var result = parseInt(txtFirstNumberValue);
            var docenas = parseFloat(txtFirstNumberValue).toFixed(2) / 12;

            if (!isNaN(docenas)) {
                document.getElementById('mantenimientosbundle_productos_docena').value = parseFloat(docenas).toFixed(2);
            }



        }

        function ganancia() {
            var result;
            var txtFirstNumberValue = document.getElementById('mantenimientosbundle_productos_precioVenta').value;
            var txtSecondNumberValue = document.getElementById('mantenimientosbundle_productos_precioCosto').value;
            b_docena = document.getElementById('mantenimientosbundle_productos_bPrecioDocena');
            var result = parseFloat(txtFirstNumberValue).toFixed(2) - parseFloat(txtSecondNumberValue).toFixed(2);
            if (!isNaN(result)) {
                if (b_docena.checked) {
                    result = parseFloat(txtFirstNumberValue).toFixed(2) - (parseFloat(txtSecondNumberValue * 12).toFixed(2));
                }
                else
                {
                    result = parseFloat(txtFirstNumberValue).toFixed(2) - parseFloat(txtSecondNumberValue).toFixed(2);

                }

                document.getElementById('mantenimientosbundle_productos_ganancia').value = parseFloat(result).toFixed(2);

            }

        }
    </script>
{% endblock %}
{% block body %}

    {{ include('navfixed.html.twig')}}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-nav">
                    <ul class="nav nav-list">
                        <li><a href="#"><i class="icon-dashboard icon-2x"></i> Tableros</a></li> 
                        <li><a href=""><i class="icon-shopping-cart icon-large"></i> Ventas <div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>  </li>             
                        <li><a href=""><i class="icon-list-alt icon-large"></i> Productos<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                                     </li>
                        <li><a href=""><i class="icon-hand-up icon-large"></i> Movimientos <div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                                     </li>                  
                        <li><a href=""><i class="icon-table icon-large"></i> Inventario de Ventas<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                </li>
                        <li class="active"><a href="{{path('mantenimientos')}}"><i class="icon-cogs icon-large"></i> Mantenimientos<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                                    </li>
                        <li><a href=""><i class="icon-money icon-large"></i> Compras <div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                                    </li>
                        <li><a href=""><i class="icon-bar-chart icon-large"></i> Reporte Ventas<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                </li>
                        <li><a href=""><i class="icon-bar-chart icon-large"></i> Ventas por Vendedor<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                                    </li>
                        <li><a href="" ><i class="icon-bar-chart icon-large"></i>Ventas por Producto<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                </li>
                        <li><a href=""><i class="icon-bar-chart icon-large"></i>Ventas por Categoria<div class="pull-right"><i class="icon-circle-arrow-right icon-large"></i></div></a>                </li>
                        <br><br><br>		

                    </ul>                               
                </div><!--/.well -->
            </div><!--/span-->

            <div class="span10">
                <div class="contentheader">
                    <i class="icon-building"></i> Productos
                </div>
                <ul class="breadcrumb">
                    <li><a href="">Mantenimiento</a></li> /
                    <li class="active">Productos</li>
                </ul>
                <div style="margin-top: -19px; margin-bottom: 21px;">
                    <h2>Listado de Productos</h2>
                </div>

                <div id="maintable">

                    <center>
                        <h4>
                            <i class="icon-plus-sign icon-large"></i>Nuevo Producto
                        </h4>
                    </center>
                    <hr>
                    <div id="center">
                        <div id="ac">
                            <div class="edit_custom" >

                                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                <span>Codigo:</span>{{ form_widget(form.codigoArticulo) }}

                                <br>
                                <span>Categoria:</span>
                                {{ form_errors(form.codigoCategoria) }}
                                {{ form_widget(form.codigoCategoria) }}
                                <br>
                                <span>Nombre:</span>
                                {{ form_errors(form.nombre) }}
                                {{ form_widget(form.nombre) }}
                                <br>

                                <span>Precio venta:</span>
                                {{ form_errors(form.precioVenta) }}
                                {{ form_widget(form.precioVenta) }}
                                <br>
                                <span>Precio Docena:</span>
                                {{ form_errors(form.bPrecioDocena) }}
                                {{ form_widget(form.bPrecioDocena) }}
                                <br>
                                <span>Costo:</span>
                                {{ form_errors(form.precioCosto) }}
                                {{ form_widget(form.precioCosto,{ 'attr': {'onKeyUp'  :'ganancia();'} }) }}
                                
                                <br>
                                <span>Ganancia:</span>
                                {{ form_errors(form.ganancia) }}
                                {{ form_widget(form.ganancia) }}
                                <br>
                                <span>Unidades:</span>
                                {{ form_errors(form.existencia) }}
                                {{ form_widget(form.existencia,{ 'attr': {'onKeyUp'  :'docena();'} }) }}
                                <br>
                                <span>Docena:</span>
                                {{ form_errors(form.docena) }}
                                {{ form_widget(form.docena) }}

                                <br>
                                <center>{{ form_widget(form.save) }}</center>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>



                    <div class="clearfix"></div>
                </div> 
            </div>
        </div>
    </div>       
{% endblock %}