{%extends '::frontendMantenimientos.html.twig'%}

{% block body %}



    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Mantenimientos/Proveedores

            </h1>
            <!--<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>-->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <!-- <h3 class="box-title">Data Table With Full Features</h3>-->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tblPpal" class="table table-bordered table-striped">
                <thead>
                        <tr>
                                <th> Cod. Proveedor </th>
                              
                                <th> Nombre </th>
                                <th> Notas </th>
                                   <th> Accion </th>

                        </tr>
                </thead>
                <tbody>

                            {% for dato in datos %}
                                
                                <tr class="record">
                                    <td>
                                      {{ dato.codigoProveedor}}  
                                        
                                    </td>
                                    <td>
                                        {{dato.nombreProveedor}}
                                    </td>
                                    
                                     <td>
                                        {{dato.notas}}
                                    </td>
                                    
                                    <td>
                                        
                                        <a  href="{{asset('/mantenimientos/proveedores/edit')}}/{{dato.codigoProveedor}}" class="btn btn-primary btn-mini"><i class="fa fa-edit"></i></a> 
                                        <a href="{{asset('')}}/{{dato.codigoProveedor}}"  class="btn btn-danger btn-mini"><i class="fa fa-trash"></i></a></td>
			
                                    

                                            </td>

                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
    <footer class="main-footer">

    </footer>
    <div class="control-sidebar-bg"></div>

{% endblock body%}




