{%extends '::frontendCompras.html.twig'%}

{% block body %}
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Compras
               
            </h1>
            <!--<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>-->
            <br>
            <div> 
                 <a title="Nueva Compra" href="{{path('addcompra')}}" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal" ><i class="fa fa-fw fa-plus"></i></a>
            </div>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                           <!-- <h3 class="box-title">Data Table With Full Features</h3>-->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="tblPpal" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th> No. de Factura </th>
                                        <th> Fecha </th>
                                        <th> Proveedor </th>
                                        <th> Comentario </th>
                                        <th> Total </th>
                                        <th> Accion </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for dato in datos %}
                                        <tr>
                                            <td>
                                                {{dato.numFactura}}
                                            </td>
                                            <td>
                                                {{dato.fechaCompra|date('d/m/Y')}}  
                                            </td>
                                            <td>
                                                {{dato.proveedor.nombreProveedor}}
                                            </td>
                                            <td>
                                                {{dato.observacion}} 
                                            </td>
                                            <td>
                                                {{dato.total|number_format(2,'.',',')}} 
                                            </td>
                                            <td>
                                                <a href="{{path('vercompra',{'codigoCompraEnc': dato.codigoCompraEnc})}}" class="btn btn-primary btn-mini" data-toggle="modal" data-target="#myModal" title="Ver Detalle"><i class="fa fa-search"></i></a>
                                                <a href=""  class="btn btn-danger btn-mini" data-toggle="modal" data-target="#myModal" title="Borrar"><i class="fa fa-trash"></i></a>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
                                <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div>
    <footer class="main-footer">

    </footer>
    <div class="control-sidebar-bg"></div>

{% endblock body%}





